    <h2>{{ film_id.title }}</h2>
    <img src="{{ film_id.image.url }}" alt="" width="400" height="350">
    <p>{{ film_id.description }}</p>
    <p>{{ film_id.genre }}</p>
    <p>{{ film_id.quantity }}</p>
    <iframe src="{{ film_id.trailer }}" frameborder="0"></iframe>
    <p>{{ film_id.created_at }}</p>

    <h3>Средняя Оценка отзывов:  </h3>

    <ul>
        {% for i in film_id.reviews.all %}

        <li>
            <p>Оценка:{{ i.mark }}</p>
            <p>{{ i.review_text }}</p>
            <p>{{ i.created_at }}</p>
        </li>

        {% endfor %}
    </ul>
